<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.dahuamiao.database.mapper.DataBaseMapper">

    <select id="queryTableInfoList" resultType="java.util.Map">
        select t.table_name, t.table_comment
          from information_schema.tables t
          where table_schema='ltms_lite' and table_type='base table';
    </select>


    <select id="queryTableDetails" resultType="java.util.Map">
        select column_name,
               column_type,
               data_type,
               character_maximum_length,
               is_nullable,
               column_default,
               column_comment
        from information_schema.columns
        where table_schema ='ltms_lite' and table_name = #{tablename}
    </select>

    <select id="queryViewDetails" resultType="java.util.Map">
        SELECT
            table_name,
            view_definition,
            is_updatable
        FROM information_schema.views
        where table_schema='ltms_lite'
    </select>



</mapper>